<div class="col-lg-10 mx-auto mt-5">
  <div class="card mb-5">
    <div class="row">
      <div class="col-lg-4">
        <%= image_tag "dummy2.jpeg", class: "img-fluid" %>
      </div>
      <div class="col-lg-8">
        <div class="card-body">
          <h3 class="fw-bold"><%= @user.name %></h3>
          <lp class="lead"><%= @user.profile_title %></lp>
        </div>
      </div>
    </div>
  </div>
</div>